.header {
  background-color: #000;
  width: 100%;
  color: white;
  padding: 0 0 1rem 0;
}

.title a,
.title span {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.2rem;
  color: rgb(63, 207, 243);
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .title {
    margin: 0;
    line-height: 1.15;
    font-size: 2.5rem;
    color: rgb(63, 207, 243);
  }

  .description {
    line-height: 1.5;
    font-size: 1rem;
  }
}
